pkgbase = sing-geosite
	pkgdesc = sing-geosite database
	pkgver = 20230221092635
	pkgrel = 1
	url = https://github.com/SagerNet/sing-geosite
	arch = any
	license = GPL3
	optdepends = sing-box: The universal proxy platform
	source = 20230221092635.geosite.db::https://github.com/SagerNet/sing-geosite/releases/download/20230221092635/geosite.db
	source = 20230221092635.LICENSE::https://raw.githubusercontent.com/SagerNet/sing-geosite/20230221092635/LICENSE
	sha256sums = e89d092277a029dbc5ee454cea1ed652af7efe81ea049ba2d5ad18db42a45c0c
	sha256sums = 2f02b7486bcfa90d115c71a20437f3906b6fd5bef81c5dc0efd341399e89d0fd

pkgname = sing-geosite
